seaborn
umap
hdbscan
sentence_transformers
bertopic
jupyter
unidecode
gensim==4.3.3
numpy==1.26.4
matplotlib==3.9.2
pandas==2.2.2
nltk==3.9.1
scikit-learn==1.5.1
FuzzyTM==2.0.9
pyLDAvis
openai
python-dotenv
flair
pytorch
torchvision